	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/07/2018 08:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-pdf:before { content: "\f100"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f101"; }
.flaticon-navigate-up-arrow:before { content: "\f102"; }
.flaticon-arrow-point-to-right:before { content: "\f103"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f104"; }
.flaticon-calendar:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-email:before { content: "\f107"; }
.flaticon-whatsapp-logo-variant:before { content: "\f108"; }
.flaticon-call-answer:before { content: "\f109"; }
.flaticon-instagram-logo:before { content: "\f10a"; }
.flaticon-facebook-logo:before { content: "\f10b"; }
.flaticon-pin:before { content: "\f10c"; }
.flaticon-car-repair:before { content: "\f10d"; }
.flaticon-square-layouting-with-black-square-in-east-area:before { content: "\f10e"; }
.flaticon-bed:before { content: "\f10f"; }
.flaticon-bath:before { content: "\f110"; }